<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>producer</th>
            <th>Model</th>
            <th>Price</th>
        </tr>
        <tr>
            <td><input type="text" th:field="*{producer}"></td>
            <td><input type="text" th:field="*{model}"></td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
    </table>
</body>
</html>
<!-- private String producer;
private String model;
private double price; -->