<!DOCTYPE html>
<html lang="en">
<head th:replace="/layout :: head"></head>
<body>
<h1>hello</h1>
<h3>Customers</h3>
<p>
    <a th:href="@{/product/create}">
        Add new customer
    </a>
</p>
<a th:href="@{/}">
    Back to customer list
</a>
<table id = "customers">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Manufactorer</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${products}">
        <td th:text = "${rowStat.index + 1}"></td>
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getManufacturer()}"></td>
        <td><a th:href="@{/product/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/product/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/product/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>