<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Music Management</h3>
<p>
    <a th:href="@{/music}">
        Add new Music
    </a>
</p>
<p th:text = "${mes}"></p>
<table id = "products">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Music</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="music : ${music}">
        <td th:text="${music.name}"></td>
        <td th:text="${music.description}"></td>
        <td><audio  th:src="@{'/file/' + ${music.musicfile}}" autofocus controls></audio></td>
        <td><a th:href="@{/music/edit/__${music.id}__ }">Edit</a></td>
        <td><a th:href="@{/music/delete/__${music.id}__ }" onclick="return confirm('Có chắc chắn xoá không?');">Delete</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>